
**/*.suo
**/*.user
**/*.sln*
bin
obj
_ReSharper*
dist
output
build

*.DotSettings.user
*.csproj.user

*.resharper.user

*.resharper

*.ncrunchsolution
*.ncrunchsolution.user

*.suo

*.cache

*~

*.swp
TestResult.xml
/.vs/Sql2gv/v15/Server/sqlite3
/Backup
/debug.log
