
**/*.suo
**/*.user
**/*.sln*
bin
obj
_ReSharper*
dist
output
build

*.DotSettings.user
*.csproj.user

*.resharper.user

*.resharper

*.ncrunchsolution
*.ncrunchsolution.user

*.suo

*.cache

*~

*.swp
TestResult.xml
